@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300&subset=latin,latin-ext);

body {
  font-family:'Open Sans';
  background-color:lighten(@panelBorderColor,5%);
}

.n-p {
  padding-left:0px;
  padding-right:0px;
}

.m-b {
  margin-bottom:15px;
}

.m-r {
  margin-right:15px;
}
