[sidepanel] {
  width:25%;
  float:right;  
  overflow-y:auto;
  overflow-x:hidden;
}

[sidepanel] {
  .friend {    
    
    .media {
      padding:10px;
      border-bottom:solid 1px @panelBorderColor;
    }
    
    .friend-object {
      padding:10px;
      border-bottom:solid 1px @panelBorderColor;
    }
    
    .found-with {
      font-size: 0.8em;
      color:gray;
      cursor:pointer;
    }
    
  }
  
  .sidepanel-notif {
    padding:5px;
  }
  
  .tab-content {
    
  }
  
}
