<div ng-repeat="(id,tag) in current.tags">
    
    <input type="text" class="form-control" ng-model="tag.name" />
    
    <div class="btn-group">
      <label ng-repeat="(typeId,type) in dataTypes" class="btn btn-primary" ng-model="tag.type" btn-radio="typeId"><i class="fa fa-{{ type.icon }}"></i></label>
    </div>  
    
    <div class="btn-group">     
        <label class="btn btn-primary" ng-model="tag.all" btn-checkbox><i class="fa fa-asterisk"></i></label>           
        <label class="btn btn-primary" ng-model="tag.block" btn-checkbox><i class="fa fa-link"></i></label>
        <label class="btn btn-primary" ng-model="tag.order" btn-checkbox><i class="fa fa-sort-amount-desc"></i></label>
    </div>
    
    <div class="btn-group">        
        <label class="btn btn-primary" ng-model="tag.multiple" btn-checkbox><i class="fa fa-navicon"></i></label>           
        <label class="btn btn-primary" ng-model="tag.extensible" btn-checkbox><i class="fa fa-user-plus"></i></label>
        <label class="btn btn-primary" ng-model="tag.reverse" btn-checkbox><i class="fa fa-exchange"></i></label>        
    </div>

    <button class="btn btn-primary" ng-click="addPoint(tag)"><i class="fa fa-plus"></i></button>    
    
    <div ng-repeat="val in tag._values">
    	<span ng-include="dataTypes[tag.type].templateUrlTpl"></span>
        <i class="fa fa-times text-danger" ng-click="deletePoint(tag,val)"></i>
    </div>
    
    
</div>

<p class="text-center m-t">
    <button class="btn btn-success btn-block" ng-click="addTag()"><i class="fa fa-plus"></i> Dodaj tag</button>
</p>