<div ng-repeat="(id,tag) in current.tags">
  <div class="panel panel-default">
      <div class="panel-body" style="padding:10px;"> 
        <div class="input-group">            
            <input type="text" class="form-control" ng-model="tag.name" placeholder="Enter tag name..."/>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-{{ dataTypes[tag.type].icon }}"></i> {{ dataTypes[tag.type].name }} <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="(typeId,type) in dataTypes" ng-click="changeTagType(tag,typeId)"><a href="#"><i class="fa fa-{{ type.icon }}"></i> {{ type.name }}</a></li>          
                </ul>
            </div><!-- /btn-group -->
        </div>
        
        <div class="m-t m-b">
        <div class="btn-group">     
            <label class="btn btn-primary btn-sm" ng-model="tag.all" btn-checkbox tooltip="Require all values to be matched"><i class="fa fa-asterisk"></i></label>           
            <label class="btn btn-primary btn-sm" ng-model="tag.block" btn-checkbox tooltip="Matching: Block"><i class="fa fa-link"></i></label>
            <label class="btn btn-primary btn-sm" ng-model="tag.order" btn-checkbox tooltip="Matching: Order"><i class="fa fa-sort-amount-desc"></i></label>
        </div>
        
        <div class="btn-group">        
            <label class="btn btn-primary btn-sm" ng-model="tag.multiple" btn-checkbox tooltip="Template: Multiple values"><i class="fa fa-navicon"></i></label>           
            <label class="btn btn-primary btn-sm" ng-model="tag.extensible" btn-checkbox tooltip="Template: Allow users to enter new values"><i class="fa fa-user-plus"></i></label>
            <label class="btn btn-primary btn-sm" ng-model="tag.reverse" btn-checkbox tooltip="Template: reverse logic">
                <span ng-show="tag.reverse">B</span>
                <span ng-hide="tag.reverse">A</span>
            </label>        
        </div>
    
        <button class="btn btn-success btn-sm" ng-click="addPoint(tag)"><i class="fa fa-plus"></i> Add value</button>
        </div>    
        
        <div ng-repeat="val in tag._values">
        	<span ng-include="dataTypes[tag.type].templateUrlTpl"></span>
            <i class="fa fa-times text-danger" ng-click="deletePoint(tag,val)"></i>
        </div>
    </div>
  </div>
</div>

<p class="text-center m-t">
    <button class="btn btn-success btn-block" ng-click="addTag()"><i class="fa fa-plus"></i> New tag</button>
</p>