<div class="joint-object" ng-class="{visible: visible, sml: sml, ready:ready, transition:transition}">
    <div class="flip-base" ng-class="{flipped: flipped}">
    <figure class="front">
            <div class="panel panel-default panel-object">
                <div class="sml-heading" ui-sref="me.objects({objectId:obj.id})">
                    <span joint-object-type obj="obj"></span> {{obj.name}}
                </div>
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-8">                            
                            <div class="pull-left" style="padding:8px 15px;">
                                <div style="font-size:1.8em;">
                                	<span joint-object-type obj="obj"></span>
                                	{{obj.name}}
                               	</div>
                            </div>                        
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="btn-group">                                                               
                                <button class="btn btn-transparent" ng-click="toggleFullscreen()"><i class="fa fa-arrows-alt"></i></button>                                
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="panel-body" joint-object-contents contents="contents">
                	<!-- <button class="editable-control btn btn-primary" data-command="bold">B</button> -->
                    <div class="content-nav" ng-hide="readonly">
                        <div class="btn-group">
                            <button class="btn btn-transparent" data-toggle="tooltip" title="Pokazuj treści ze świata"><i class="fa fa-globe"></i></button>
                            <button class="btn btn-transparent" data-toggle="tooltip" title="Filtruj treść"><i class="fa fa-filter"></i></button>
                        </div>
                        
                        <div class="dropdown pull-right">
					  <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					    Add content
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					    <li ng-repeat="(cntTypeId,cntType) in contentTypes" role="presentation" ng-click="add(cntTypeId)"><a role="menuitem">{{ cntType.name }}</a></li>
					  </ul>
					</div>
                        
                        
                       <!-- <button class="btn btn-transparent pull-right" ng-click="add()">
                            <i class="fa fa-plus"></i> Add content
                       </button> -->
                    </div>
                    <div class="object-contents">
                        
                        
                        	<jointcontent 
                        		class="object-content" 
                        		ng-repeat="cnt in contents" 
                        		obj="obj" 
                        		cnt="cnt"
                        		remove="remove">
                        	</jointcontent>
                        	                    

                    </div>
                </div>
                <div class="panel-footer" ng-hide="readonly">
                    <div class="btn-group">
                        <button class="btn btn-transparent" ng-click="toggleFlag('public')">
                            <i class="fa fa-lock" ng-hide="obj.public==1"></i>
                            <i class="fa fa-globe" ng-show="obj.public==1"></i>
                        </button>
                        <button class="btn btn-transparent" data-toggle="tooltip" title="Ustawienia" ng-click="flip(obj.id)"><i class="fa fa-cog"></i></button>                        
                    </div>
                    <button class="pull-right btn btn-transparent" ng-click="structureCtrl.add()" ng-hide="notExtensible">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            </figure>
            
            <figure class="back">
                <div class="panel panel-default panel-object">
                    <div class="panel-heading"></div>
                    <div class="panel-body" style="padding:15px;">                        
                        <input class="form-control input-lg" ng-model="obj.name" class="m-b" />                        
                        
                        <span ng-repeat="alias in aaliases">{{ alias.id }} {{ alias.alias }}</span>
                        <select class="form-control" ng-model="obj.alias_id" class="m-b">
                        	<option ng-repeat="alias in aaliases" value="{{ alias.id }}">{{ alias.alias }}</option>
                        </select>
                        
                        <div class="btn-group m-b" ng-hide="isRoot">
                            <label ng-repeat="type in types" class="btn btn-primary" ng-model="obj.type" btn-radio="type.id">{{ type.name }}</label>                            
                        </div>
                        
                        <joint-object-tags></joint-object-tags>
                        
                        <div class="">
                        	<div class="col-sm-2 n-p" ng-hide="isRoot">
                        		<button class="btn btn-danger btn-block" ng-bootbox-confirm="Are you sure?" ng-bootbox-confirm-action="structureCtrl.remove(obj.id)"><i class="fa fa-trash"></i></button>
                        	</div>
                        	<div class="col-sm-5 n-p">
                        		<button class="btn btn-primary btn-block" ng-click="flip()">Cancel</button>
                        	</div>
                        	<div class="col-sm-5 n-p">
                        		<button class="btn btn-success btn-block" ng-click="save()">Save</button>
                        	</div>
                        </div>
                    </div>
                </div>
            </figure>
            </div>
        </div> <!-- joint object -->